.container{
    width: 100vw;
    height: 100vh; 
    gap:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

a{
    cursor: pointer;
}
.header
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    justify-content: center;
    background-color: #40E0D0;
    padding: 40px;
}
.h1stampa{
    font-weight: bold;
    color: #273341;
    font-size: 45px;
    transition: 0.3s;
}
.h1stampa:hover{
opacity: 0.9;
}

.skillscontainer
{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.btn{
    width: 200px;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: #273341;
    border-radius: 10px;
    color: aliceblue;
    transition: 0.3s ;
    border: none;
    padding: 12px;
    text-align: center;
}

.btn:hover{
    box-shadow: 5px 5px 0px #40E0D0;
    opacity: 0.9;
    transform: translateY(-10px);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    transition: 0.3s;
}
.card:hover{
    opacity: 0.8;
    transform: translateY(-10px);
}

.cardcontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:200px;
    padding: 80px;
    background: black;
    width:100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-right: 90px;
}

.memberContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;

}
.btnform
{
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}
.btnform:hover{
    box-shadow: 5px 5px 2px #40E0D0;
}

.formcontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    width: 700px;
    padding: 50px;
    background: aliceblue; 
    border-radius: 20px;
    margin-bottom:30px ;
}


.inp
{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
}
.footer
{
    width: 100vw;
    height: 500px;
    background-color:#1a1a1a ;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:40px;
    height: 400px;
}