.container{
    width: 100vw;
    height: 100vh; 
}

*{
    margin: 0;
    padding: 0;
}
.header
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    justify-content: center;
}
.h1stampa{
    font-weight: bold;
    font-family: Inter;
    
}