*{
    font-family: Inter;
}
.container{
    width: 100vw;
    height: 100vh; 
}
.header
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    justify-content: center;
}

.containerdiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}