*{
    font-family: Inter;
}

.header
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    justify-content: center;
}

.containerdiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:40px;
    height: 80px;
}

a{
    text-decoration: none;
    color: black;
}